.about
  color: black
  margin-top: 130px
  &__title
    margin-bottom: 50px
    text-align: center
    font-weight: 700
    font-size: 33px
    line-height: 145%
    text-transform: uppercase
  &__text
    max-width: 1190px
    margin: auto
    margin-bottom: 50px
    & p
      font-weight: 400
      font-size: 23px
      line-height: 35px
      & span
        font-weight: 700
